<h1>
  {{title}}
</h1>

<div class="container">
  <div>
    <button (click)="addSeller()">Bæta við Seljanda</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Nafn seljanda</th>
          <th>Flokkur</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of sellers">
          <td><a href="www.mbl.is"> {{s.name}}</a></td>
          <td>{{s.category}}</td>
          <td><button (click)="editSeller(s)">Breyta notanda</button></td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
<template ngbModalContainer></template>
<!--
<div *ngIf="seller">
  <h2>{{seller.name}}</h2>
  <img src="{{seller.imagePath}}" alt="Image of the seller"/>
</div>

<div *ngFor="let s of sellers">
  <app-seller-card [seller]="s">
    
  </app-seller-card>
</div>
-->
<!--<ngb-alert type="info">
  Test 1 2 3 !
</ngb-alert>-->