

<div *ngIf="seller" class="row">
<div class="seller-div">
  <div class="col-8">
    <div class="media">
      <img [src]="seller.imagePath" style="width: 200px" class="d-flex align-self-center mr-3" src="..." alt="Generic placeholder image">
      <div class="media-body">
        <h4>{{seller.name}}</h4>
        <h4>{{seller.category}}</h4>
      </div>
    </div>
  </div>
</div>
  <div class="col-4">
    <div class="stick-to-right">
      <button class="btn btn-success btn-sm" (click)="addProduct()">Bæta við vöru</button>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#tab-products">Allar Vörur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab-topTen">Top 10</a>
  </li>
</ul>
<div class="tab-content">
  <div class="row">
    <div id="tab-products" *ngFor="let p of products"  class="col-xs-6 col-md-3">
      <app-product-card [product]="p"
                        (productUpdated)="onEditProduct($event)">

      </app-product-card>
    </div>
    <div id="tab-topTen" *ngFor="let tp of topTenProducts"  class="col-xs-6 col-md-3">
      <app-product-card [product]="tp"
                        (productUpdated)="onEditProduct($event)">

      </app-product-card>
    </div>
  </div>
</div>
</div>

<template ngbModalContainer></template>
<!--
<div *ngIf="seller">
  <h3>{{seller.id}}</h3>
  <h3>{{seller.name}}</h3>
  <h3>{{seller.category}}</h3>
  <img [src]="seller.imagePath" style="width: 80px"/>
</div>

<div *ngIf="products">
  <table class="table">
      <tbody>
        <tr *ngFor="let sp of products">
          <td>{{sp.id}}</td>
          <td>{{sp.name}}</td>
          <td>{{sp.price}}</td>
          <td>{{sp.quantitySold}}</td>
          <td>{{sp.quantityInStock}}</td>
          <td><img [src]="sp.imagePath" alt="Photo of item" style="width: 80px"/></td>
          <td><button (click)="editProduct(sp)">Breyta vöru</button></td>
        </tr>
      </tbody>
    </table>
</div>
-->

