<div *ngIf="seller" class="row">
<div class="seller-div">
  <div class="col-8">
    <div class="media">
      <img [src]="seller.imagePath" style="width: 200px" class="d-flex align-self-center mr-3" src="..." alt="Generic placeholder image">
      <div class="media-body">
        <h4>{{seller.name}}</h4>
        <h4>{{seller.category}}</h4>
      </div>
    </div>
  </div>
</div>
  <div class="col-4">
    <div class="stick-to-right">
      <button class="btn btn-success btn-sm" (click)="addProduct()">Bæta við vöru</button>
    </div>
  </div>
</div>

<div class="tabs">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <button class="nav-link" (click)="showProducts()">Allar Vörur</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" (click)="showTopTen()">Top 10</button>
  </li>
</ul>
<div *ngIf="showProductsTab === true" class="tab-content">
  <div class="row">
    <div id="tab-products" *ngFor="let p of products"  class="col-xs-6 col-md-4 col-lg-2">
      <app-product-card [product]="p"
                        (productUpdated)="onEditProduct($event)">

      </app-product-card>
    </div>
  </div>
</div>
<div *ngIf="showTopTenTab === true" class="tab-content">
  <div class="row">
    <div id="tab-topTen" *ngFor="let tp of topTenProducts"  class="col-xs-6 col-md-4 col-lg-2">
          <app-product-card [product]="tp"
                            (productUpdated)="onEditProduct($event)">

          </app-product-card>
        </div>
    </div>
  </div>
</div>

<template ngbModalContainer></template>

