<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <label for="sellerName">Name</label>
  <input [(ngModel)]="sellerName"/>
</div>

<div class="modal-body">
  <label for="category">Category</label>
  <!--<select>  
    <option value="Fatnaður">Fatnaður</option>
    <option value="Bílar">Bílar</option>
    <option value="Matvörur">Matvörur</option>
    <option value="Keramik">Keramik</option>
    <option value="Snyrtivörur">Snyrtivörur</option>
    <option value="Íþróttavörur">Íþróttavörur</option>
    <option value="Tölvuvörur">Tölvuvörur</option>
  </select>-->
  <input [(ngModel)]="category"/>
  <!--<multiselect ng-model="selection" options="options" show-select-all="true" show-unselect-all="true"></multiselect>-->
</div>

<div class="modal-body">
  <label for="imgPath">Image path</label>
  <input [(ngModel)]="imgPath"/>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  <button *ngIf="id === 0" type="button" class="btn btn-success" (click)="onSave()">Save</button>
  <button *ngIf="id !== 0" type="button" class="btn btn-success" (click)="onEdit()">Edit</button>
</div>
