<div class="container">
  <div>
    <button (click)="addSeller()">Bæta við Seljanda</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Nafn seljanda</th>
          <th>Flokkur</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of sellers">
          <td><a href="sellers/{{s.id}}"> {{s.name}}</a></td>
          <td>{{s.category}}</td>
          <td><button (click)="editSeller(s)">Breyta notanda</button></td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
<template ngbModalContainer></template>
